{% extends "clonium/base.html" %}

{% block head %}
    <script type="text/javascript" src="static/md5-min.js">
    </script>

    <script type="text/javascript" src="static/clonium/game.js">
    </script>
{% endblock %}


{% block content %}
    <div class="alert text-center" id="turn">
        <br  />
    </div> 

    <table id="field" class="table table-bordered text-center">
        {% for line in map %}
            <tr id="{{ "tr" ~ loop.index0 }}">
                {% set outer_loop = loop %}
                {% for cell in line %}
                    <td id="{{ "td" ~ outer_loop.index0 ~ "_" ~ loop.index0 }}" class="cell" style="{{ "background-color : " ~ cell.color }}">
                        {{ cell.value }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br />
    <form method="post" action="/clonium/clear">
        <div class="text-center">
            <input type="submit" class="btn btn-default pull-9" value="Clear" />
        </div>
    </form>
{% endblock %}